/**
 * VariaBoard Panel
 */

.variaboard-panel,
.variaboard-panel * {
  box-sizing: border-box;
}

.variaboard-panel {
  background: #000;
  border: 1px solid #000;
  color: #fff;
  font-family: source code pro, monospace;
  font-size: 14px;
  left: 0;
  max-height: 100%;
  max-width: 300px;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: opacity 200ms;
  width: 100%;
  z-index: 99;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * Selections
 */

.variaboard-title::selection,
.variaboard-control-title::selection,
.variaboard-control-value::selection,
.variaboard-button::selection {
  background: #fff;
  color: #000;
}

.variaboard-title::-moz-selection,
.variaboard-control-title::-moz-selection,
.variaboard-control-value::-moz-selection,
.variaboard-button::-moz-selection {
  background: #fff;
  color: #000;
}

/**
 * VariaBoard Title
 */

.variaboard-title {
  background: #111;
  color: #fff;
  height: 28px;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 28px;
  margin: 0 0 1px;
  overflow: hidden;
  padding: 0 1.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
 * Controls
 */

.variaboard-controls {
}

/**
 * Control
 */

.variaboard-control {
  border-left: 3px solid #444;
  display: flex;
  height: 28px;
  margin-bottom: 1px;
  transition: background 200ms, border-color 200ms;
}

.variaboard-control:hover {
  border-left-color: #666;
  transition-duration: 0ms;
}

.variaboard-control:last-child {
  margin-bottom: 0;
}

/**
 * Control Title
 */

.variaboard-control-title {
  align-items: center;
  background: #222;
  border-left: 1px solid #000;
  color: #bbb;
  cursor: pointer;
  display: flex;
  flex: 0 0 110px;
  font-size: 0.8em;
  font-weight: 400;
  justify-content: flex-end;
  line-height: 1;
  margin: 0 1px 0 0;
  overflow: hidden;
  padding: 0.6em 0.75em;
  text-align: right;
  text-overflow: ellipsis;
  transition: color 200ms;
  white-space: nowrap;
}

.variaboard-control:hover .variaboard-control-title {
  color: #fff;
  transition-duration: 0ms;
}

/**
 * Control Checkbox
 */

.variaboard-control-checkbox-wrap {
  align-items: center;
  background: #111;
  border: 1px solid #111;
  cursor: pointer;
  display: flex;
  flex: 0 0 80px;
  margin: 0 1px 0 0;
  padding: 0 0.6em;
  position: relative;
}

.variaboard-control-checkbox {
  cursor: pointer;
  opacity: 0;
  position: absolute
}

.variaboard-control-checkbox-indicator {
  align-items: center;
  background: none;
  border: 1px solid #333;
  cursor: pointer;
  display: flex;
  height: 1.2em;
  justify-content: center;
  transition: background 200ms;
  width: 1.2em;
}

.variaboard-control-checkbox-indicator:before {
  color: #bbb;
  content: '\2713';
  font-size: 0.8em;
  opacity: 0;
  transition: color 200ms, opacity 200ms;
}

.variaboard-control.variaboard-control-is-focused .variaboard-control-checkbox-indicator {
  border-color: #fff;
}

.variaboard-control-checkbox:checked ~ .variaboard-control-checkbox-indicator {
  background: #222;
}

.variaboard-control-checkbox:checked ~ .variaboard-control-checkbox-indicator:before {
  opacity: 1;
}

.variaboard-control:hover .variaboard-control-checkbox:checked ~ .variaboard-control-checkbox-indicator:before {
  color: #fff;
}

.variaboard-control.variaboard-control-is-focused .variaboard-control-checkbox:checked ~ .variaboard-control-checkbox-indicator:before {
  color: #fff;
}

.variaboard-control-title:active ~ .variaboard-control-checkbox-wrap .variaboard-control-checkbox-indicator,
.variaboard-control-checkbox-wrap:active .variaboard-control-checkbox-indicator {
  border-color: #fff;
}

.variaboard-control-checkbox-stub {
  background: #111;
  flex: 1 1 auto;
}

/**
 * Control Value
 */

.variaboard-control-value-wrap {
  flex: 0 0 80px;
  margin: 0 1px 0 0;
}

.variaboard-control-value {
  background: #111;
  border: 1px solid #111;
  border-radius: 0;
  color: #bbb;
  font-family: inherit;
  font-size: 0.8em;
  font-weight: 400;
  height: 100%;
  line-height: 1;
  margin: 0;
  padding: 0.6em 0.75em;
  transition: color 200ms, border-color 200ms;
  width: 100%;
  -webkit-appearance: none;
}

.variaboard-control:hover .variaboard-control-value {
  color: #fff;
  transition-duration: 0ms;
}

.variaboard-control-value:focus {
  border-color: #fff;
  color: #fff;
  outline: none;
  transition-duration: 0ms;
}

/**
 * Button
 */

.variaboard-button {
  align-items: center;
  background: linear-gradient(#333 50%, #222 50%);
  border: none;
  border-left: 1px solid #000;
  border-radius: 0;
  color: #bbb;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 0.8em;
  font-weight: 700;
  height: 100%;
  line-height: 1;
  margin: 0;
  padding: 0 1.5em;
  position: relative;
  text-align: left;
  transition: color 200ms;
  width: 100%;
  -webkit-appearance: none;
}

.variaboard-button:after {
  background: #fff;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 200ms;
}

.variaboard-button:hover {
  color: #fff;
  transition-duration: 0ms;
}

.variaboard-button:active {
  transition-duration: 0ms;
}

.variaboard-button:active:after {
  opacity: 0.3;
  transition-duration: 0ms;
}

.variaboard-button:focus {
  box-shadow: inset 0 0 0 1px #fff;
  outline: none;
}

/**
 * Control Range
 */

.variaboard-control-range {
  background: #111;
  cursor: ew-resize;
  cursor: grab;
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
}

.variaboard-control.variaboard-control-is-dragging .variaboard-control-range {
  cursor: ew-resize;
  cursor: grabbing;
}

.variaboard-control-range-inner {
  background: #222;
  height: 101%;
  left: 0;
  position: absolute;
  right: 1px;
  top: 0;
  transform: translateX(-100%);
  transition: background 200ms, transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.variaboard-control-range-inner:after {
  background: linear-gradient(#999, #444);
  bottom: 0;
  content: '';
  left: 100%;
  position: absolute;
  top: 0;
  transition: background 200ms;
  width: 1px;
}

.variaboard-control.variaboard-control-eased .variaboard-control-range-inner {
  transition: background 200ms;
}

.variaboard-control:hover .variaboard-control-range-inner {
  background: #333;
  transition-duration: 0ms;
}

.variaboard-control.variaboard-control-is-dragging .variaboard-control-range-inner {
  transition-duration: 0ms;
}
