body {
  background: radial-gradient(#333, #111);
  min-height: 100vh;
  overflow: hidden;
}

canvas {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

/* --- */

.variaboard-panel,
.variaboard-panel * {
  box-sizing: border-box;
}

.variaboard-panel {
  background: #000;
  box-shadow: 0 0 0 1px #000;
  color: #fff;
  font-family: source code pro, monospace;
  font-size: 16px;
  left: 0;
  max-width: 400px;
  position: fixed;
  top: 0;
  transition: opacity 200ms;
  width: 100%;
  z-index: 99;
}

.variaboard-panel.variaboard-is-dragging {
  -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.variaboard-title::selection,
.variaboard-control-title::selection,
.variaboard-control-value::selection,
.variaboard-button::selection {
  background: #fff;
  color: #000;
}

.variaboard-title::-moz-selection,
.variaboard-control-title::-moz-selection,
.variaboard-control-value::-moz-selection,
.variaboard-button::-moz-selection {
  background: #fff;
  color: #000;
}

.variaboard-title {
  background: #000;
  border-bottom: 1px solid #000;
  color: #fff;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 1.2em 0.75em;
}

.variaboard-controls {
}

.variaboard-control {
  background: #222;
  border-bottom: 1px solid #000;
  display: flex;
  transition: background 200ms;
}

.variaboard-control:hover {
  background: #333;
  transition-duration: 0ms;
}

.variaboard-control:last-child {
  border-bottom: none;
}

.variaboard-control-title {
  border-right: 1px solid #000;
  flex: 1 1 35%;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding: 0.6em 0.75em;
  text-align: right;
  transition: color 200ms;
}

.variaboard-control:hover .variaboard-control-title {
  color: #fff;
  transition-duration: 0ms;
}

.variaboard-control-value {
  background: none;
  border: none;
  border-right: 1px solid #000;
  border-radius: 0;
  box-shadow: inset 0 0 0 1px transparent;
  color: inherit;
  flex: 1 1 20%;
  font-family: inherit;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding: 0.6em 0.75em;
  transition: color 200ms, box-shadow 200ms;
  width: 100%;
  -webkit-appearance: none;
}

.variaboard-control:hover .variaboard-control-value {
  color: #fff;
  transition-duration: 0ms;
}

.variaboard-control-value:focus {
  box-shadow: inset 0 0 0 1px #fff;
  outline: none;
  transition-duration: 0ms;
}

.variaboard-control-randomize {
  align-items: center;
  background: linear-gradient(#333, #222);
  cursor: pointer;
  border-right: 1px solid #000;
  box-shadow: inset 0 1px 0 #444;
  display: flex;
  padding: 0 0.5em;
}

.variaboard-control-randomize-svg {
  height: 16px;
  fill: #555;
  transition: fill 200ms;
  width: 16px;
}

.variaboard-control-randomize:hover .variaboard-control-randomize-svg {
  fill: #fff;
  transition-duration: 0ms;
}

.variaboard-control-mutate {
  align-items: center;
  background: linear-gradient(#333, #222);
  cursor: pointer;
  border-right: 1px solid #000;
  box-shadow: inset 0 1px 0 #444;
  display: flex;
  padding: 0 0.5em;
}

.variaboard-control-mutate-svg {
  height: 16px;
  fill: #555;
  transition: fill 200ms;
  width: 16px;
}

.variaboard-control-mutate:hover .variaboard-control-mutate-svg {
  fill: #fff;
  transition-duration: 0ms;
}

.variaboard-button {
  background: #444;
  border: none;
  border-right: 1px solid #000;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding: 1.2em 1.5em;
  transition: background 200ms, color 200ms;
  -webkit-appearance: none;
}

.variaboard-button:active {
  background: #fff;
  color: #000;
  transition-duration: 0ms;
}

.variaboard-button:focus {
  outline: none;
}

.variaboard-control-range {
  cursor: ew-resize;
  flex: 1 1 45%;
  overflow: hidden;
}

.variaboard-control-range-inner {
  background: #555;
  height: 101%;
  transform-origin: 0% 50%;
  transition: background 200ms;
  width: 100%;
}

.variaboard-control:hover .variaboard-control-range-inner {
  background: #fff;
  transition-duration: 0ms;
}

/* --- */

.variaboard-panel.vb2 {
  left: auto;
  right: 0;
}
